<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="number" v-model="grade">
        <div v-if="grade<0">
            เกรดไม่มีติดลบ
        </div>
        <div v-else-if="grade>=0 && grade < 50">
            F
        </div>
        <div v-else-if="grade>=50 && grade < 60">
            D
        </div>
        <div v-else-if="grade>=60 && grade < 70">
            C
        </div>
        <div v-else-if="grade>=70 && grade < 80">
            B
        </div>
        <div v-else-if="grade>=80 && grade < 101">
            A
        </div>
        <div v-else>
            ไม่มีเกิน100
        </div>
        
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: '',
                grade: 0,
            },          
        });
    </script>
</body>
</html>
