<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="number" v-model="grade">
        <br>
        <span>{{resultGrade}}</span>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                grade: 0,
            },
            computed: {
                resultGrade: function () {
                    if(this.grade<0){
                        return 'เกรดไม่มีติดลบ';
                    }else if(this.grade>=0 && this.grade < 50){
                        return 'F';
                    }else if(this.grade>=50 && this.grade < 60){
                        return 'D';
                    }else if(this.grade>=60 && this.grade < 70){
                        return 'C';
                    }else if(this.grade>=70 && this.grade < 80){
                        return 'B';
                    }else if(this.grade>=80 && this.grade < 101){
                        return 'A';
                    }else {
                        return 'ไม่มีเกิน100';
                    }
                },
            },
        });
    </script>
</body>
</html>