<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <span> {{ message }}</span><br>

        <template v-if="message == 'green'">
            <div style="background-color: green; width: 60px;">
                .
            </div>
            <div style="background-color: grey; width: 60px;">
                .
            </div>
            <div style="background-color: grey; width: 60px;">
               . 
            </div>
        </template>

        <template v-if="message == 'yellow'">
            <div style="background-color: grey; width: 60px;">
                .
            </div>
            <div style="background-color: yellow; width: 60px;">
                .
            </div>
            <div style="background-color: grey; width: 60px;">
                . 
            </div>
        </template>

        <template v-if="message == 'red'">
            <div style="background-color: grey; width: 60px;">
                .
            </div>
            <div style="background-color: grey; width: 60px;">
                .
            </div>
            <div style="background-color: red; width: 60px;">
                . 
            </div>
        </template>

        

        <button @click="next"> เปลี่ยนสี </button>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                nowColor: 0,
                message: 'green',
                colors: [
                    'green',
                    'yellow',
                    'red'
                ],
            },
            methods: {
                next: function(){
                    if(this.nowColor==2)this.nowColor = -1;
                    this.nowColor++;
                    this.message = this.colors[this.nowColor];
                },
            },          
        });
    </script>
</body>
</html>