<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        <input type="number" v-model="qty"> <br>
        <div v-for="oil in oils">
            <input type="radio" v-bind:id="oil.id" v-bind:value="oil" v-model="selectedOil">
            <label v-bind:for="oil.id">{{oil.oilName}}</label>
        </div>
        <p>Picked: {{selectedOil.oilName}} {{selectedOil.cost}} บาท/ลิตร</p>
        <p>จำนวน: {{qty}}</p>
        <p>ราคารวม: {{result}}</p>
        <button @click="addOlds">จ่ายเงิน</button>
        <h1>ยอดรวม {{allCost}} บาท</h1><br>
        <table >
            <tr v-for="old in olds">
                <td>{{old.id}}</td>
                <td>{{old.oilName}}</td>
                <td>{{old.cost}}</td>
                <td>{{old.qtyCost}}</td>
            </tr>
        </table>
        
    </div>
    <script>
        
      var app = new Vue({
        el: "#app",
        data: {
            allCost: 0,
            indexOlds: 1,
            qty: 0,
            selectedOil: {id: null,oilName: 'ยังไม่ได้เลือก',cost: 0},
            oils: [{
                id: 0,
                oilName: 'แก๊สโซฮอล์ 95',
                cost: 26.45
            },{
                id: 1,
                oilName: 'แก๊สโซฮอล์ 91',
                cost: 26.18
            },{
                id: 2,
                oilName: 'แก๊สโซฮอล์ E20',
                cost: 23.44
            },{
                id: 3,
                oilName: 'แก๊สโซฮอล์ E85',
                cost: 19.04
            },{
                id: 4,
                oilName: 'เบนซิน 95',
                cost: 33.86
            },{
                id: 5,
                oilName: 'ดีเซล',
                cost: 27.39
            },{
                id: 6,
                oilName: 'ดีเซล B10',
                cost: 25.39
            },{
                id: 7,
                oilName: 'ดีเซล B20',
                cost: 24.39
            },{
                id: 8,
                oilName: 'ดีเซลพรีเมี่ยม',
                cost: 31.24
            },{
                id: 9,
                oilName: 'แก๊ส NGV',
                cost: 15.62
            }],
            olds: [],
        },
        methods: {
            addOlds: function(event){
                var newOlds = { id: parseInt(this.indexOlds),oilName: this.selectedOil.oilName,cost: parseFloat(this.selectedOil.cost),qtyCost: parseFloat(this.result)};
                this.olds.push(newOlds);
                this.allCost += newOlds.qtyCost;
                this.indexOlds++;
            },
        },
        computed: {
            result: function(){
                return this.qty*this.selectedOil.cost;
            },
        },
      });
    </script>
  </body>
</html>
